In [197]:
import pandas as pd

def createCityRow(dataset, city):
    fname = city + ".csv"
    raw_data = pd.read_csv(fname, header=None)
    raw_data = raw_data[[0, 2]]
    df = pd.DataFrame(columns=['date', city])
    date = ""
    index = 0
    for i, r in raw_data.iterrows():
        if not raw_data.loc[i][0].isdigit():
            2011-01-01
            mm = raw_data.loc[i][0]
        elif raw_data.loc[i][0].isdigit() and raw_data.loc[i][0] != "2017":
            df.loc[index] = [str(raw_data.loc[i][0]) + " " + mm, raw_data.loc[i][2]]
            index += 1
    if dataset.empty:
        return df
    else:
        dataset = pd.merge(dataset, df, on="date", how="left")
        return dataset

def changeMapping(df):
    df = df.set_index('date')
    df = pd.DataFrame(df.stack().reset_index())
    df.columns = ['date', 'city', 'fahrenheit']
    df = df[['city', 'date', 'fahrenheit']]
    return df

def main():
    cities = sorted([
                     'Montreal',
                     'NewYork',
                     'SanFrancisco',
                     'Toronto',
                     'Vancouver',
                     'Shanghai',
                     'Beijing',
                     'NewDelhi',
                     'Tokyo',
                     'RiodeJaneiro',
                     'Moscow',
                     'Seattle',
                     'London',
                     'Bangkok',
                     'Paris',
                     'Singapore',
                     'Sydney',
                     'Boston',
                     'Madrid',
                     'BuenosAires'])
    df = pd.DataFrame()
    for city in cities:
        print city
        df = createCityRow(df, city)
    df = changeMapping(df)
    df.to_csv('All.csv', index=False)

main()

Bangkok
Beijing
Boston
BuenosAires
London
Madrid
Montreal
Moscow
NewDelhi
NewYork
Paris
RiodeJaneiro
SanFrancisco
Seattle
Shanghai
Singapore
Sydney
Tokyo
Toronto
Vancouver

In [198]:
pd.read_csv('All.csv', header=None)

                 0       1           2
0             city    date  fahrenheit
1          Bangkok   1 Jan          80
2          Beijing   1 Jan          26
3           Boston   1 Jan          40
4      BuenosAires   1 Jan          88
5           London   1 Jan          46
6           Madrid   1 Jan          34
7         Montreal   1 Jan          20
8           Moscow   1 Jan          32
9         NewDelhi   1 Jan          60
10         NewYork   1 Jan          44
11           Paris   1 Jan          28
12    RiodeJaneiro   1 Jan          89
13    SanFrancisco   1 Jan          50
14         Seattle   1 Jan          34
15        Shanghai   1 Jan          50
16       Singapore   1 Jan          84
17          Sydney   1 Jan          75
18           Tokyo   1 Jan          46
19         Toronto   1 Jan          34
20       Vancouver   1 Jan          35
21         Bangkok   2 Jan          81
22         Beijing   2 Jan          32
23          Boston   2 Jan          34
24     BuenosAires   2 Jan          76
25          London   2 Jan          38
26          Madrid   2 Jan          36
27        Montreal   2 Jan          24
28          Moscow   2 Jan          32
29        NewDelhi   2 Jan          62
...            ...     ...         ...
7271         Paris  30 Dec          50
7272  RiodeJaneiro  30 Dec          80
7273  SanFrancisco  30 Dec          51
7274       Seattle  30 Dec          44
7275      Shanghai  30 Dec          48
7276     Singapore  30 Dec          82
7277        Sydney  30 Dec          83
7278         Tokyo  30 Dec          42
7279       Toronto  30 Dec          11
7280     Vancouver  30 Dec          38
7281       Bangkok  31 Dec          80
7282       Beijing  31 Dec          28
7283        Boston  31 Dec           9
7284   BuenosAires  31 Dec          70
7285        London  31 Dec          52
7286        Madrid  31 Dec          46
7287      Montreal  31 Dec          -6
7288        Moscow  31 Dec          32
7289      NewDelhi  31 Dec          59
7290       NewYork  31 Dec          15
7291         Paris  31 Dec          54
7292  RiodeJaneiro  31 Dec          86
7293  SanFrancisco  31 Dec          51
7294       Seattle  31 Dec          40
7295      Shanghai  31 Dec          44
7296     Singapore  31 Dec          80
7297        Sydney  31 Dec          74
7298         Tokyo  31 Dec          38
7299       Toronto  31 Dec           2
7300     Vancouver  31 Dec          38

[7301 rows x 3 columns]

In [200]:
df['Sydney']

0      75
1      72
2      70
3      72
4      72
5      72
6      72
7      76
8      76
9      82
10     86
11     76
12     82
13     80
14     74
15     78
16     84
17     84
18     70
19     77
20     72
21     74
22     78
23     84
24     71
25     70
26     74
27     79
28     75
29     84
       ..
335    74
336    72
337    64
338    65
339    70
340    75
341    76
342    70
343    70
344    74
345    76
346    76
347    82
348    73
349    80
350    72
351    78
352    80
353    86
354    72
355    74
356    78
357    87
358    68
359    70
360    73
361    76
362    78
363    83
364    74
Name: Sydney, Length: 365, dtype: object